.formulario {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.mb-3 {
    margin-bottom: 1rem;
}
h1 {
    margin-bottom: 2rem;

}
.form-label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
p{
    margin-top: 1rem;
}